<ul><% @articles.each do |article| %>
    <li><a href="/articles/<%=article.id%>"><%= article.title %></a></li>
<% end %></ul>

<form method="get" action="/articles/new">
    <input type="submit" value = "New Article">
</form>