<!DOCTYPE>
<html>
    <head>
     <title> Edit </title>
    </head>
    <body>
        <form method= 'POST' action='/edit'>
            <input id="hidden" type="hidden" name="_method" value="PATCH">
    
    #yoloyolo
    
    
    </body>
</html>