<!DOCTYPE>
<html>
    <head>
     <title>ALL THE ARTICLES ARE HERE</title>
    </head>
    <body>

    <h1>ALL THE ARTICLES ARE HERE <h1>
    <% @articles.each do |arts|%>
        <%= arts.title %><br><br>
    <%end%>


    

    
    
    </body>
</html>